
* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
body {
    margin:0;
    background:black;
    color:white;
}
table {
    border-spacing:0;
    border-collapse:collapse;
}
.centered {
    text-align: center;
    justify-content: center;
}

.corner-link {
    display:inline-block;
    position:absolute;
    top: 0px;
    padding: 5px 5px 3px 5px;
    background: #ffffff50;
    z-index: 10000;
}
.corner-link img {
    width: 16px;
    height: 16px;
}
.corner-link.right {
    right: 0px;
}
.corner-link.left {
    left: 0px;
}

#summary-wrapper {
    position:fixed;
    top:-2px;
    left:-2px;
    bottom:-2px;
    right:-2px;
    display:grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    background:black;
    color:white;
}
.summary-box {
    display:flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 2em;
    border:1px solid green;
}

.team-name {
    font-size: 2em;
    height: 25%;
}
.team-steps {
    font-size: 4em;
    height: 40%;
}
div.team-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin:auto;
    height: 35%;
}
div.team-table span {
    display:flex;
    padding: 2px 10px;
    border-bottom: 1px solid #ffffff50;
    border-right: 1px solid #ffffff50;
}
div.team-table span:nth-child(-n+4){
    border-top: 2px solid #ffffff50;
    border-bottom-width: 2px;
}
div.team-table span:nth-last-child(-n+4) {
    border-bottom-width: 2px;
}
div.team-table span:nth-child(4n+1){
    border-left: 2px solid #ffffff50;
}
div.team-table span:nth-child(4n){
    border-right-width: 2px;
}
div.team-table span.table-header {
    font-weight: bold;
    padding: 4px 10px;
}

.general-stats-header {
    text-decoration: underline;
}
.general-stats div {
    opacity: 0.5;
    font-size: 2em;
    flex:1;
}


/* Mobile screen, portrait AND landscape mode */
@media only screen and (max-width: 600px), (max-height: 600px) {

    #summary-wrapper {
        position:unset;
        top:unset;
        left:unset;
        bottom:unset;
        right:unset;
        display:block;
    }

    .general-stats {
        padding-bottom: 2em;
    }
    .general-stats-header {
        margin-top:1em !important;
    }

    .summary-box {
        padding-bottom: 2em;
        border-right: none;
        border-left: none;
        border-bottom:none;
        border-color:#ffffff88;
        border-top-style: dashed;
    }

    .team-name {
        margin-top: 1em;
    }
    .team-steps {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    div.team-table {
        width: 100%;
        margin:0;
    }
}

/* Mobile screen, portrait mode */
@media only screen and (max-width: 600px) {

}


/* Mobile screen, landscape mode */
@media only screen and (max-height: 600px) {

}
