<!-- Data updated {{ data.stats.last_update }} -->

<div class = "general-stats summary-box">
    <div class = "general-stats-header centered">
        General stats
    </div>
    <div class = "stats-days centered">
        {{ data.stats.days }} days
    </div>
    <div class = "stats-steps centered">
        {{ "{:,}".format(data.stats.total_steps) }} steps
    </div>
    <div class = "stats-distance centered">
        {{ data.stats.total_dist }}km
    </div>
    <div class = "stats-avg-steps centered">
        {{ "{:,}".format(data.stats.average_steps) }} steps/person
    </div>
</div>

{% for team in data.teams %}

    <div class = "team-wrapper summary-box">

        <div class = "team-name centered">
            {{ team.name }}
        </div>

        <div class = "team-steps centered">
            {{ "{:,}".format(team.average_steps) }} steps
        </div>
        
        <div class = "team-table">
            <span class = "table-header">Name</span>
            <span class = "table-header centered">Distance</span>
            <span class = "table-header centered">Today</span>
            <span class = "table-header centered">Steps/Day</span>

            {% for player in team.players %}
            
                <span>{{ player.name }}</span>
                <span class = "centered">{{ player.distance }}km</span>
                <span class = "centered">{{ "{:,}".format(player.diff_steps) }}</span>
                <span class = "centered">{{ "{:,}".format(player.average_steps) }}</span>
            
            {% endfor %}
        </div>
    </div>
    
    <script>
        reloadSettings();

        function reloadSettings(){
            let bgColor = settingsGet("settings.color.background");
            let fgColor = settingsGet("settings.color.foreground");
            let borderColor = settingsGet("settings.color.border");
            let playerBorderColor = settingsGet("settings.color.player-border");
            $(".summary-box").css("background-color", bgColor).css("color", fgColor).css("border-color", borderColor);
            $("div.team-table span").css("border-color", playerBorderColor);
        }
    </script>
        
{% endfor %}
