{% extends "base/template_main.html" %}

{% block head %}
{% endblock %}

{% block content %}

    <a href = "/settings" class = "corner-link right">
        <img src = "/imgs/settings.png">
    </a>

    <div id = "summary-wrapper"></div>

    <script type = "text/javascript">
        reloadSummary();

        let reloadInterval = 30000;
        if (reloadInterval != 0){
            setInterval(reloadSummary, reloadInterval);
        }

        function reloadSummary(){
            let calcStrategy = settingsGet("settings.calc.strategy");
            $("#summary-wrapper").load(`/summary/?strategy=${calcStrategy}`, (response, status, xhr) => {
                if (status == "error") {
                    $("#summary-wrapper").html("Got an error while loading data :(");
                }
            });
        }
    </script>
{% endblock %}